.body{
padding: 8px;
}
.close{
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
        transform: scale(1.08);
        transition: none 33ms cubic-bezier(.3,0,0,1);
        transition-property: all;
        background-color: #202020;
        border-radius: 50%;
        .img{
            fill: #fff;
        }
        .tooltip{
            display: flex !important;
        }
    }
}
.main{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 88px);
    padding-bottom: 8px;
    .lateral-left,.lateral-left-hidden{
        display: flex;
        nav{
            width: 416px;
            .home-left{
                padding: 8px 12px;;
                background-color: $black-2;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                position: relative;
                cursor: default;
                overflow: hidden;
                width: 100%;
                li{
                    padding: 4px 12px;
                    a{
                        text-decoration: none !important;;
                        font-size: 1rem;
                        color: $text;
                        text-decoration: none;;
                        width: 100%;
                        height: 40px;
                        display: flex;
                        letter-spacing: .1px;
                        gap: 20px;
                        align-items: center;
                        transition: .2s;
                        font-weight: 500;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        &:hover{
                            transition: .2s;
                            color: #fff !important;
                            .img{
                                color: #fff !important;
                                fill: #fff !important;
                            }
                        }
                    }
                }
            }
            .menu-left{
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                min-height: 0;
                cursor: default;
                /* overflow-x: hidden; */
                margin-top: 8px;
                border-radius: 8px;
                background-color: $black-2;
                height: calc(100% - 120px);
                .menu-left-header{
                    width: 100%;
                    padding: 8px 16px;
                    white-space: nowrap; 
                    .menu-left-header-1{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: CircularStd;
                        font-size: 1rem;
                        color: $text;
                        text-decoration: none;;
                        font-weight: 500;
                        height: 40px;
                        gap: 8px;
                        div{
                            display: flex;
                            align-items: center;
                            padding: 4px 8px;
                            flex: 1;
                            cursor: pointer;
                            .menu-left-header-1-svg{
                                display: flex;
                                margin-inline-end: 12px;
                            }
                        }
                        .padding{
                            padding-block-start: 8px; 
                            padding-block-end: 8px; 
                            padding-inline-start: 8px; 
                            padding-inline-end: 8px;
                            height: 32px;
                            width: 32px;
                            cursor: pointer;
                            position: relative;
                            &:hover{
                                background-color: #1a1a1a;
                                border-radius: 50%;
                                .tooltip{
                                    display: flex !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .lateral-left-hidden{
        nav{
            width: 72px !important;
        }
        .padding{
            display: none;
        }
        
    }
    main{
        width: 100%;
        border-radius: 8px;
        background-color: $black-2;
        gap: 16px;
        height: 64px;
        position: relative;
        height: calc(100% - 0px);
        overflow: hidden;
        .background-main{
            background-image: linear-gradient(rgba(0, 0, 0, .6) 0, #121212 100%), url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
            height: 332px;
            margin-top: -64px;
            position: absolute;
            transition: background 1s ease;
            width: 100%;
            z-index: 1;
        }
        .header-main{
            display: flex;
            align-items: center;
            padding: 16px 24px;
            position: absolute;
            width: 100%;
            z-index: 1000 !important;
            position: relative;
            .header-main-{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                .header-main-operation{
                    display: flex;
                    flex: 1;
                    gap: 10px;
                    .close{
                        background-color: #000000b3;
                        border-radius: 50%;
                        
                    }
                }
                .header-main-operation-others{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    .close{
                        background-color: rgba(0, 0, 0, 0.7019607843);
                        border-radius: 50%;
                        .circle-user{
                            line-height: 24px;
                            height: 24px;
                            width: 24px;
                            display: flex;
                            align-items: center;
                            border-radius: 50%;
                            justify-content: center;
                            font-weight: 500;
                            font-size: 0.878rem;
                        }
                    }
                    .tooltip-main{
                        position: relative;
                        .tooltip-{  
                            position: absolute;
                            top: 40px;
                            background-color: #282828;
                            box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
                            right: 0;
                            padding: 4px;
                            max-width: 350px;
                            min-width: 160px;
                            border-radius: 4px;
                            overflow-y: auto;
                            white-space: nowrap;
                            ul{
                                
                                li{
                                    padding: 12px 8px 12px 12px;
                                    a{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        font-size: 14px;
                                        font-weight: 100;
                                        width: 100%;
                                        gap: 12px;
                                        color: hsla(0, 0%, 100%, .9);
                                        cursor: default;
                                        text-decoration: none;
                                    }
                                    &:hover{
                                        background-color: hsla(0, 0%, 100%, .1);
                                        color: #fff;

                                        border-radius: 2px;
                                    }
                                    &.line{
                                        border-top: 1px solid #ffffff1a;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .main-content{
            //background-color: red;
            width: 100%;
            height: 500px;
            overflow-x: scroll;
            padding: 0 16px;
            z-index: 1 !important;
            position: relative;
            .main-content-header{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 16px;
                margin-top: 10px;
                .main-content-header-{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;
                    overflow: hidden;
                    border-radius: 4px;
                    background-color: #ffffff12;
                    padding-right: 10px;
                    .main-content-header-p{
                        display: flex;
                        align-items: center;
                        gap:10px;
                        .img-main-content{
                            height: 50px !important;
                            width: 50px !important;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        span{
                            color: #fff;
                        }
                    }
                    .circle-green{
                        display: none;
                    }
                    &:hover{
                        background-color: #ffffff38;
                        position: relative;
                        .circle-green{
                            background-color: #1ED756;
                            height: 32px;
                            width: 32px;
                            position: absolute;
                            right: 10px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0 8px 8px rgba(0,0,0,.3);
                            svg{
                                fill: #000;
                            }
                        }
                        .barr-play{
                            display: none;
                        }
                    }
                }
            }



            /*  */
        }
    }
    .lateral-right{
        display: flex;
        .lateral-right-conteudo{
            border-radius: 8px;
            padding: 16px;
            width: 420px;
            background-color: $black-2;
            display: flex;
            flex-direction: column;
            overflow-x: scroll;
            gap: 16px;
            .cover{
                max-width: 420px;
                max-height: 420px;
                border-radius: 8px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
            .author-title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 16px;
                cursor: pointer;
                .author-title-data{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    a{

                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                        &:nth-child(1){
                            font-size: 24px;
                            font-weight: 600;
                        }
                        &:nth-child(2){
                            color: $text;
                        }
                    }
                }

                span{
                    position: relative;
                    &:hover{
                        .tooltip{
                            display: flex !important;
                        }
                    }
                }
            }
            .perfil-card{
                background-color: #242424;
                border-radius: 8px;
                cursor: pointer;
                .img-background{
                    background-position: 50% 50%;
                    background-size: cover;
                    border-radius: 8px 8px 0 0;
                    padding-bottom: 67%;
                    position: relative;
                    width: 100%;
                }
                .data{
                    padding: 16px;
                    .author{
                        font-size: 16px;
                        color: #fff;
                        font-weight: 100;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .listeners{
                        padding: 8px 0 12px 0 !important;
                    }
                    .text{
                        font-size: 14px;
                        font-weight: 100;
                        color: #b3b3b3;
                    }
                }
            }
            .credits{
                background-color: #242424;
                border-radius: 8px;
                cursor: pointer;
                padding: 16px;
                display: flex;
                gap: 12px;
                justify-content: center;
                flex-direction: column;
                .header-credits{
                    display: flex;
                    justify-content: space-between;
                    h1{
                        font-size: 16px;
                        color: #fff;
                    }
                    span{
                        font-size: 14px;
                        color: #b3b3b3;
                        &:hover{
                            transform: scale(1.04);
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
                
            }
            .digression{
                background-color: #242424;
                border-radius: 8px;
                padding: 16px;
                display: flex;
                gap: 12px;
                justify-content: center;
                flex-direction: column;

                .digression-{
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    height: 80px;
                    padding: 8px;
                    border-radius: 8px;
                    text-decoration: none;
                    &:hover{
                        background-color: #ffffff1a;
                    }
                    .digression-data{
                        height: 48px;
                        width: 48px;
                        background-color: #1a1a1a;
                        border-radius: 4px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        
                        small{
                            color: #fff;
                            font-size: 11px;
                        }
                        span{
                            color: #fff;
                            font-size: 26px;
                            line-height: .9;
                        }

                    }
                    .digression-time{
                        color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 4px;
                        span{
                            font-size: 14px;
                        }
                        small{
                            color: $text;
                        }
                    }
                }
            }

            .fila{
                background-color: #242424;
                border-radius: 8px;
                padding: 16px;

                .list-fila{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-top: 8px ;
                    background-color: #242424;
                    border-radius: 8px;
                    padding: 8px;
                    .img-fila{
                        height: 46px;
                        width: 46px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius:4px ;
                        }
                    }
                    .author-fila{
                        display: flex;
                        flex-direction: column;
                        a{
                            color: #fff;
                            text-decoration: none;;
                            &:nth-child(2){
                                font-size: 14px;
                                color: $text;
                            }
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        
                    }
                    &:hover{
                        background-color: #ffffff1a;
                    }
                }
            }
        }
    }
}

.img{
    fill: $text;
    color: $text;
    width: 24px;
    height: 24px;
    &.img-16{
        fill: $text;
        color: $text;
        width: 16px;
        height: 16px;
    }
    &.img-24{
        fill: $text;
        color: $text;
        width: 24px !important;
        height: 24px !important;
    }
    &.img-green{
        fill:#1ed760 !important;
    }
}
.tooltip{
    display: none !important;
    position: absolute;
    color: #fff;
    background-color: #202020;
    font-weight: 400;
    white-space: nowrap;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 1px 7px 25px -1px rgba(0, 0, 0, 0.9);
    &.top{top: -35px;}
    &.center{
        left: 50%;
        transform: translateX(-50%);
    }
    &.right{right: -15px;}
    &.bottom{bottom: -43px;}
}
.listeners{
    color: #b3b3b3;
    padding: 4px 0;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:8px;
    h3{
        font-size: 16px;
        font-weight: 100;
        color: #fff;
        span{
            font-size: 14px;
            font-weight: 100;
            color: #b3b3b3;
        }
        a{
            font-size: 15px;
            font-weight: 100;
            color: #fff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    button{
        border:1px solid #727272;
        padding: 6px 14px ;
        background-color: transparent;
        color:#fff;
        border-radius: 20px;
        letter-spacing: .5px;
        cursor: pointer;
        white-space: nowrap;
        &:hover{
            border:1px solid #fff;
            transform: scale(1.04);
        }
    }
}
.header-lateral{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    a{
        color: #fff;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    h1{
        font-size: 16px;
        color: #fff;
    }
    .more{
        font-size: 14px;
        color: #b3b3b3;
        cursor: pointer;
        &:hover{
            transform: scale(1.04);
            color: #fff;
            text-decoration: underline;
        }
    }
}
.button{
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 500;
    min-block-size: 32px;
    align-items: center;
    justify-content: center;
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    border: 0;
    cursor: pointer;
    gap: 6px;
    &:hover{
        transform: scale(1.05);
        transition: none 33ms cubic-bezier(.3,0,0,1);
        transition-property: all;
    }
}
.resize{
    display: flex;
    align-items: center;
    cursor: grab;
    justify-content: center;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    width: 8px;
    background-color: #000;
    &:hover{
        &::after{
            background-color: $essential;
            border-radius: 1px;
            content: "";
            height: calc(100% - 16px);
            -webkit-transition: background-color .15s ease-out, height .15s ease-out, width .15s ease-out, border-radius .15s ease-out, opacity .25s ease-out;
            transition: background-color .15s ease-out, height .15s ease-out, width .15s ease-out, border-radius .15s ease-out, opacity .25s ease-out;
            width: 1px;
        }
    }

}
footer{
    height: 72px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    .footer-1{
        padding-left: 8px;
        display: flex;
        //gap: 10px;
        align-items: center;
        position: relative;
        .footer-1-img{
            width: 56px;
            height: 56px;
            margin-inline-end: 8px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover
            }
            .botao{
                display: flex;
                opacity: 0;
                padding: 0;
                right: 5px;
                position: absolute;
                top: 5px;
                z-index: 1;
                justify-content: center;
                background: rgba(0,0,0,.7);
                border-radius: 500px;
                border-width: 0;
                padding: 5px;
                color: #b3b3b3;
                height: 24px;
                line-height: 24px;
                width: 24px;
                &:hover{
                    transform: scale(1.08);
                    transition: none 33ms cubic-bezier(.3,0,0,1);
                    transition-property: all;
                    .img{
                        fill: #fff;
                    }
                }
            }
            &:hover{
                .botao{
                    opacity: 1;
                }
            }
            
        }
        .autor{
            display: flex;
            flex-direction: column;
            padding-left: 6px;
            a{
                text-decoration: none;
                &:nth-of-type(1){
                    color: white;
                    font-size: 14px;
                }
                &:nth-of-type(2){
                    color: #a7a7a7;
                    font-size: 12px;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .favoritos{
            cursor: pointer;;
            padding-left: 18px;
        }
    }
    .footer-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .footer-2-control{
            display: flex;
            align-items: center;
            gap: 25px;
            margin-bottom: 7px;
            .play{
                background-color: #fff;
                border: none;
                border-radius: 50%;
                color: #000;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 32px;
                min-width: 32px;
                position: relative;
                -webkit-transition: none 33ms cubic-bezier(.3,0,.7,1);
                transition: none 33ms cubic-bezier(.3,0,.7,1);
                -webkit-transition-property: all;
                transition-property: all;
                width: 32px;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                cursor: pointer;
                justify-content: center;
                .img{
                    fill: $black;
                }
                &:hover{
                    transform: scale(1.06);
                    transition: none 33ms cubic-bezier(.3,0,0,1);
                    transition-property: all;
                }
            }
        }
        .footer-2-player{
            display: flex;
            align-items: center;
            position: relative;
            small{
                color: $text;
            }
            span{
                display: inline-block;
                width: 550px;
                height: 4px;
                border-radius: 2px;
                margin:0 10px ;
                background-color: #5e5c5ce8;
                overflow: hidden;
                position: relative;
                &::after{
                    content:'';
                    width: 123px;
                    background-color:#fff;
                    height: 4px;
                    display: block;
                    border-radius: 2px;
                }
                
            }
            &:hover{
                span{
                    &::after{
                        background-color:#1db954;
                    }
                }
                &::after{
                    content:'';
                    position: absolute;
                    top: 3px;
                    left: 153px;
                    width: 12px;
                    height: 12px !important;
                    border-radius: 50%;
                    background-color:#fff;
                    height: 4px;
                    cursor: pointer;
                    
                }
            }
        }
    }
    .footer-3{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:18px;
        padding: 0 8px;
        .vol{
            display:flex;
            align-items:center;
            position: relative;
            .vol-{
                display: inline-block;
                width: 93px;
                height: 4px;
                border-radius: 2px;
                margin-left: 10px;
                background-color: rgba(94, 92, 92, 0.9098039216);
                border-radius:2px;
                overflow: hidden;
                &::after{
                    content:'';
                    width: 53px;
                    background-color:#fff;
                    height: 4px;
                    display: block;
                    border-radius: 2px;
                }
            }
            &:hover{
                .vol-{
                    &::before{
                        content:'';
                        width: 53px;
                        background-color:#1db954;
                        height: 4px;
                        display: block;
                    }
                }
                &::after{
                    content:'';
                    position: absolute;
                    top: 4px;
                    left: 73px;
                    width: 12px;
                    height: 12px !important;
                    border-radius: 50%;
                    background-color:#fff;
                    height: 4px;
                    cursor: pointer;
                    
                }
                
            }
        }
        .tooltip-devices{
            position: relative;
            &.tooltip-yep{
                .devices-body{
                    display: flex;
                }
            }
            &.tooltip-nop{
                .devices-body{
                    display: none;
                }
            }
            
            .devices-body{
                background-color: #282828;
                padding: 32px 16px 16px;
                padding-top: 32px;
                width: 320px;
                position: absolute;
                display: none;
                flex-direction: column;
                gap: 20px;
                bottom: 40px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 8px;
                
                &::before{
                    content: '';
                    height: 25px;
                    width: 25px;
                    background-color: #282828;
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    display: block;
                    z-index: -1;
                }
                .device-{
                    padding: 0 16px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    gap:16px;
                    .svg-icon{
                        padding-left: 4px;
                    }
                    .img{
                        height: 32px;
                        width: 32px;
                    }
                    .device-text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        span{
                            &:nth-child(1){
                                font-weight: 500;
                                margin-bottom: 4px;
                            }
                            &:nth-child(2){
                                color: #1ed760;
                            }
                        }
                        small{
                            color: $text;
                            font-size: 14px;
                            margin-top: 5px;
                        }
                    }
                }
                p{
                    padding: 0 28px;
                    color: #fff;
                    font-weight: 500;
                }
            }
            .device-button{
                border-radius: 4px;
                padding: 12px 16px;
                color: #fff;
                text-decoration: none;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    white-space: nowrap;
                    
                }
                &:hover{
                    background-color: #ffffff1a;
                }
            }
        }
    }
}
.icon-svg{
    position: relative;
    &:hover{
        transform: scale(1.04) !important;
        svg{
            fill: #fff;
        }
        .tooltip{
            display: flex !important;
        }
    }
    &.point-after{
        &::after{
            content: '';
            display: block;
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: #1db954;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.pointer{
    cursor: pointer;
}
